server:
  port: 8085

spring:
  application:
    name: whatsapp-api

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${server.port}
    health-check-url: http://127.0.0.1:8082/actuator/health
    ip-address: 127.0.0.1
    status-page-url: http://127.0.0.1:8082/actuator/info
    prefer-ip-address: 'true'

